.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.leftSide {
  width: 50%;
  background-color: #18345e;
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgLeft {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.textLeft {
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

.rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
}

.rightForm {
  position: relative;
  max-height: 680px;
  width: 400px;
  border-radius: 10px;
  padding: 50px 35px;
}

.titleRight {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #18345e;
}

.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.labelError {
  color: red;
}

.passwordInp {
  position: relative;
}

.showPassImg {
  position: absolute;
  top: 30%;
  right: 10px;
}

.button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.buttonSubmit {
  background-color: #f0ab20;
}

.redirectBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.registerBtn {
  margin-left: 10px;
  color: #22c1dc;
}

@media (max-width: 850px) {
  .container {
    background-color: #18345e;
  }

  .leftSide {
    display: none;
  }

  .rightSide {
    display: flex;
    width: 100%;
  }
  .rightForm {
    position: relative;
    max-height: 680px;
    width: 400px;
    background-color: rgba(12, 5, 5, 0.03);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 145px 35px;
    background-color: #ffffff;
  }
}

@media (max-height: 588px) {
  .titleRight {
    margin-top: 60px;
  }
}

@media (max-height: 400px) {
  .titleRight {
    margin-top: 150px;
  }
}

@media (max-height: 350px) {
  .titleRight {
    margin-top: 200px;
  }
}

@media (max-height: 290px) {
  .titleRight {
    margin-top: 230px;
  }
}

@media (max-height: 225px) {
  .titleRight {
    margin-top: 270px;
  }
}

@media (max-height: 140px) {
  .titleRight {
    margin-top: 320px;
  }
}
